<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Runu's Blog</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Custom styles for this template -->
  <link href="css/clean-blog.min.css" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.min.js"></script> -->


</head>

<body>
  <div id="app">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="index.html">Runu's Blog</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" 
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" v-on:click="viewPage('home')">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" v-on:click="viewPage('about')">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" v-on:click="viewPage('contact')">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header -->
    <header v-show="page != 'post'" class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Runu's Blog</h1>
              <span class="subheading">Welcome to my Blog</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <template v-if="page == 'home'">
        <div class="container" > 
            <div class="row">
              <div v-if="blogsData.length == 0" style="display: flex;
              width: 100%;
              justify-content: center;">
                <div align=center>
                  <div  class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                  </div> Loading blog posts....
                </div>
              </div>
             
            <div v-for="(blog,index) in blogsData" style="width: 100%;">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-preview">
                  <a href="#" v-on:click="viewPage('post',index)">
                    <h2 class="post-title">
                      {{ blog.title }}
                    </h2>
                    <h3 class="post-subtitle" style="font-size:16px;">
                      {{ blog.sub_title }}
                    </h3>
                  </a>
                  <p class="post-meta">Written by
                    <a href="#" v-on:click="viewPage('about')">Runu Chakraborty</a>
                    on {{ new Date(Date.parse(blog.created_at)).toDateString() }}</p>
                </div>
                <hr>
              </div>
            </div>
             
               <!-- Pager -->
               
            </div>
            <!--  <div class="clearfix">
                  <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div> -->
    </div>
    </template>
    

    <!-- Other Pages -->
    <template v-if="page == 'about'">
      <div class="container">
        <h3>About Me</h3>
        <br>
        <p>This is my blog</p>
      </div>
    </template>
    <template v-if="page == 'contact'">
      <div class="container">
        <h3>Contact</h3>
        <br>
        <p>Reach me at <a href="mailto:runuboomba@gmail.com">runuboomba@gmail.com</a></p>
      </div>
    </template>


    <template v-if="page == 'post'">
          <!-- Page Header-->
          <header class="masthead mt-0" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                      
                        <div class="post-heading">
                          <span style="color:white; padding:2px;" v-on:click="viewPage('home')"><i class="fas fa-arrow-left"></i> &nbsp; Go Back</span> <br> <br>   
                            <h1>{{blogpost.title}}</h1>
                            <h2 class="subheading">{{blogpost.sub_title}}</h2>
                            <span class="meta">
                                Posted by
                                <a href="#!">Runu Chakraborty</a>
                                on {{ new Date(Date.parse(blogpost.created_at)).toDateString() }}
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7" v-html="blogpost.content">
                     
                    </div>
                </div>
            </div>
        </article>
    </template>


    <hr>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <ul class="list-inline text-center">
              <li class="list-inline-item">
                <a href="https://twitter.com">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://facebook.com">
                  <span class="fa-stack fa-lg">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                  </span>
                </a>
              </li>
            </ul>
            <p class="copyright text-muted">Copyright &copy; Runu Chakraborty 2020-2021</p><br>
            <center>Powered By Vue.js</center>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="data.js"></script>



  <!-- Vue JS view logic -->
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data: {
        page: "home",
        blogpost: undefined,  //current blog post to show
        blogsData: blogsdata_JSON
      },
      methods: {

       viewPage: function(page,blog_index = -1){
        this.page = page;
        console.log(this.blogsData[blog_index]);
        if(blog_index > -1) this.blogpost = this.blogsData[blog_index];
       },
      },
      // created() {
      //   this.blogpost = blogsData[0];
      // }
    })
  </script>

</body>

</html>

